@mixin flex ( $just : center, $direction : row, $align : center) {
    display: flex;
    justify-content: $just;
    align-items: $align;
    flex-direction: $direction;
}

@mixin transi($time : .3s) {
    transition: all $time ease-in-out;
}